<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-button slot="end" color="danger" (click)="clear()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label  position="floating">New Item</ion-label>
        <ion-input [(ngModel)]="newArticle"></ion-input>
      </ion-item>
      <ion-button color="tertiary" fill="outline" (click)="add()"
                  [disabled]="!newArticle">Ajouter</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of articles" (click)="presentActionSheet(item)">
          <span [ngClass]="{check: item.isChecked}">{{item.name}}</span>
          <ion-icon *ngIf="item.isChecked" slot="end" name="checkmark" color="success"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
